<!DOCTYPE html>
<html>
  <head></head>
  <body>
    <element name='castle-grid' constructor='CastleGrid' extends='div'>
      <template>
        <div template iterate='row in tiles'>
          <div template iterate='tile in row' class='grid-row'>
            <div class='grid-1x1'>{{tile.coordinates}}</div>
          </div>
        </div>
      </template>
      <script type='application/dart'>
        import '../dart/grid.dart';
        import '../dart/castle.dart';

        class CastleGrid extends Grid {
          List tiles = new Castle().tiles;
        }

      </script>
    </element>
  </body>
</html>
