.grid-row {
  clear: both;
}

.grid-1x1 {
  width: 100px;
  height: 100px;
  float: left;
  border: 1px solid white;
  background-color: grey;
  line-height: 100px;
  text-align: center;
  cursor: pointer;
}

.grid-1x1:hover,
.grid-1x1:active {
  background-color: yellow;
}

